.chat-container {
  display: flex;
}

.submit-button {
  color: $primary;
}

.users {
  // min-width: 300px;
  // max-width: 350px;
  width: 250px;
  min-height: 100vh;
  position: fixed;
  border-right: 1px solid lightgray;

  a {
    color: $black;
    text-decoration: none;
  }
}

// .new-chat {
//   padding: 10px;
//   border-radius: 20px;
// }

.new-chat {
  margin: 0px 0px 0px 0px;
  padding: 10px 0px;
  background-color: $light-gray;
  border-bottom: 1px solid lightgray;

  p {
    margin: 5px 20px;
    font-size: 14px;
    font-weight: bold;
  }

  .new-chat-content {
    display: flex;
  }

  .message-text {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px;
    width: -webkit-fill-available;
  }

  // setting default bootstrap margin to 0.
  .mb-3 {
    margin-bottom: 0px !important;
  }

  .text {
    border-radius: 20px;
    resize:none;
  }

  .send-message {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 0px;
  }
}

.user {
  margin: 10px 0px;
  display: flex;

  i {
    font-size: 25px;
  }

  .profile-picture {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0px 10px;
  }

  .username {
    font-weight: bold;
    font-size: 14px;
  }

  .last-chat {
    font-size: 14px;
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
