<div class="message-sent-at">
  <span>
  Sent <%= time_ago_in_words(message.created_at) %> ago.
  </span>
</div>
<div class="message">
  <div class="message-content">
    <p><%= message.message_body %></p>
  </div>
</div>
