<div data-controller="messagesent">
  <div data-messagesent-target="messagesent" class="d-none message-sent-at">
    <span>
    Sent <%= time_ago_in_words(message.created_at) %> ago.
    </span>
  </div>
  <div class="message" data-action="click->messagesent#messageSent">
    <div class="message-content">
      <p><%= message.message_body %></p>
    </div>
  </div>
</div>
