<div id="users">
  <div class="user">
    <div class="profile-picture">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="user-content">
      <% if @messages.length.zero? %>
        No messages.
      <% else %>
        <div class="username">
          <% if @messages.first.user_id == current_user.id %>
            <%= User.find(@messages.first.recipient_id).username %>
          <% else %>
            <%= User.find(@messages.first.user_id).username %>
          <% end %>
        </div>
        <div class="last-chat"><%= @messages.last.message_body %></div>
      <% end %>

    </div>
  </div>
</div>
