<div id="users">
  <div class="user">
    <div class="profile-picture">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="user-content">
      <% recipient_user_id = 10 %>
      <% recipient_user = User.find(recipient_user_id)%>
      <div class="username"><%= recipient_user.username %></div>
      <div class="last-chat"><%= Message.where({ user_id: current_user.id, recipient_id: recipient_user_id }).last.message_body %></div>
    </div>
  </div>
</div>
