<div id="chat-container">

<div id="users">
  <div class="user"><i class="fa-solid fa-user"></i><p>user 1</p></div>
  <div class="user"><i class="fa-solid fa-user"></i><p>user 2</p></div>
  <div class="user"><i class="fa-solid fa-user"></i><p>user 3</p></div>
  <div class="user"><i class="fa-solid fa-user"></i><p>user 4</p></div>
  <div class="user"><i class="fa-solid fa-user"></i><p>user 5</p></div>
  <div class="user"><i class="fa-solid fa-user"></i><p>user 6</p></div>
</div>

<div id="chat">
  <div id="messages">
  </div>
  <div id="new-message">
    <%= simple_form_for @chats do |f| %>
      <div id="message-form">
        <div id="message-text">
          <%= f.input :description, as: :text, label: false, class: "message-text-field" %>
        </div>
        <div id="send-message">
          <%= f.button :submit, 'Send message', class: "btn btn-primary" %>
        </div>
      </div >
    <% end %>
  </div>

</div>

</div>
