#new-session-container, #sign-up-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.form-check-input {
  background-color: $white;
}

#new-session, #sign-up {
  width: 350px;
  padding: 30px;
  // box-shadow: 5px 5px 80px rgba(0, 0, 0, 0.40);
  // border-radius: 40px;

  h2 {
    margin-bottom: 20px;
  }
}

.sign-up-links {
  margin-top: 10px;

  p {
    margin: 0px 0px;
  }
}

.test-users {
  color: $borders;
  font-size: 12px;
  position: fixed;
  bottom: 20px;
  left: 20px;

  p {
    font-weight: bold;
    margin-bottom: 2px;
  }

  ul {
    margin: 5px 0px 0px 0px;
  }
  li {
    list-style: none;
    margin-left: -33px;
  }
}

@media only screen and (max-width: 600px) {
  #new-session, #sign-up {
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
  }
}
