#sign-up-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up {
  width: 350px;
  padding: 30px;
  box-shadow: 5px 5px 80px rgba(0, 0, 0, 0.40);
  border-radius: 40px;

    h2 {
    margin-bottom: 20px;
  }
}
